<div id="existing-symptoms">
  <table class="table table-bordered">
    <% @symptoms.each do |s| %>
      <tr>
        <td>
          <div class="food-entry-header">
            <%= s.name %> - <%= s.start_time.strftime("%l:%M %p") %>
            <% if !s.end_time.nil? %>
             - <%= s.end_time.strftime("%l:%M %p") %>
            <% end %>
            <%= button_to symptom_path(s), method: :delete, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <%= button_to edit_symptom_path(s), method: :get, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-pencil inline-button"></span>
            <% end %>
          </div>
          SEVERITY: <%= s.severity %>
          <br />
          NOTES: <%= s.notes %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
