<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br />
    <h2 class="text-center">Add a new food entry:</h2>
    <br />
    <h4>In this entry:</h4>
    <div id="print-new-entry">
      <!-- JS will fill this in -->
    </div>
    <form id="food-entry-form">
      <div class="form-group">
        <label>Category:</label>
        <select id="category-select" class="form-control">
          <option value="Breakfast">Breakfast</option>
          <option value="Lunch">Lunch</option>
          <option value="Dinner">Dinner</option>
          <option value="Snack">Snack</option>
        </select>
      </div>
      <div class="form-group">
        <label>Notes:</label>
        <input type="text" id="notes" class="form-control">
      </div>
      <div class="form-group">
        <label>Time eaten:</label>
        <input type="time" id="time" class="form-control">
        <input type="hidden" id="user-id" value="<%= @user_id %>"></input>
        <input type="hidden" id="day-id" value="<%= @day_id %>"></input>
      </div>
      <div class="form-group form-inline">
        <label>Add existing foods:</label>
        <select id="food-type-select" class="form-control">
          <option value="Foods" selected="selected">Foods</option>
          <option value="Ingredients" selected="selected">Ingredients</option>
          <option value="Meals" selected="selected">Meals</option>
        </select>
        <select id="dynamic-food-list" class="form-control">
          <% @all_meals.each do |m| %>
            <option value="<%= m.name %>" selected="selected" id="<%= m.id %>"><%= m.name %></option>
          <% end %>
        </select>
        <button id="add-from-db" class="btn btn-primary">Add to entry</button>
      </div>
    </form>
    <div id="autocomplete-wrapper" class="form-group form-inline">
      <label for="autocomplete">Search for foods by name: </label>
      <input id="autocomplete" class="form-control">
      <input type="hidden" id="factual-id">
      <button id="add-from-search" class="btn btn-primary">Add to entry</button>
    </div>
    <button id="create-food-entry" class="btn btn-success centered-button">Save food entry</button>
  </div>
</div>
