<div class="row">
  <div class="col-md-12">
    <div id="existing-entries">
      <% @entries.each do |e| %>
        <div class="entry text-center" id="<%= e.time.strftime("%l:%M %p") %>">
          <div class="food-entry-header"><%= e.category.upcase %> - <%= e.time.strftime("%l:%M %p") %></div>
            <% e.meals.each do |m| %>
              <div class="meal">
                <%= m.name %>
              </div>
            <% end %>
            <% e.foods.each do |f| %>
              <div class="food">
                <%= f.name %>
              </div>
            <% end %>
            <% e.ingredients.each do |i| %>
              <div class="ingredient">
                <%= i.name %>
              </div>
            <% end %>
          Notes: <%= e.notes %>
          <br />
          <%= link_to "Edit", entry_path(e), method: :patch, class: "btn btn-success edit-entry" %>
          <%= link_to "Delete", entry_path(e), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
