<div id="existing-entries">
  <table class="table">
    <% @entries.each do |e| %>
      <tr id="<%= e.time.strftime("%l:%M %p") %>">
        <td>
          <div class="food-entry-header">
            <%= e.category.upcase %> - <%= e.time.strftime("%l:%M %p") %>
            <%= button_to entry_path(e), method: :delete, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <%= button_to edit_entry_path(e), method: :get, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-pencil inline-button"></span>
            <% end %>
          </div>
            <% e.meals.each do |m| %>
              <div class="meal">
                <%= m.name %>
              </div>
            <% end %>
            <% e.foods.each do |f| %>
              <div class="food">
                <%= f.name %>
              </div>
            <% end %>
            <% e.ingredients.each do |i| %>
              <div class="ingredient">
                <%= i.name %>
              </div>
            <% end %>
            NOTES: <%= e.notes %>
            <br />
        </td>
      </tr>
    <% end %>
  </table>
</div>
