<div id="existing-entries">
  <table class="table table-bordered">
    <% @entries.each do |e| %>
      <tr id="<%= e.time.strftime("%l:%M %p") %>">
        <td>
          <div class="food-entry-header">
            <%= e.category.upcase %> - <%= e.time.strftime("%l:%M %p") %>
            <%= button_to entry_path(e), method: :delete, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <%= button_to edit_entry_path(e), method: :get, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-pencil inline-button"></span>
            <% end %>
          </div>
          <div class="meal">
            <% if !e.print_capitals(e.id).nil? %>
              <%= e.print_capitals(e.id).upcase %>
            <% end %>
          </div>
          <div class="food-ing-list">
            <% if !e.print_italics(e.id).nil? %>
              <%= e.print_italics(e.id) %>
            <% end %>
          </div>
          NOTES: <%= e.notes %>
          <br />
        </td>
      </tr>
    <% end %>
  </table>
</div>
