<div id="existing-entries">
  <table class="table table-bordered">
    <% @entries.each do |e| %>
      <tr id="<%= e.time.strftime("%l:%M %p") %>">
        <td>
          <div class="food-entry-header">
            <%= e.category.upcase %> - <%= e.time.strftime("%l:%M %p") %>
            <%= button_to entry_path(e), method: :delete, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
            <%= button_to edit_entry_path(e), method: :get, class: "close inline-button", form: {style: 'display:inline-block; float:right'} do %>
              <span class="glyphicon glyphicon-pencil inline-button"></span>
            <% end %>
          </div>
            <% if !e.meals.empty? && e.meals.length <= 1 %>
              <div class="meal">
                <% e.meals.each do |m| %>
                  <%= m.name.upcase %>
                <% end %>
              </div>
            <% elsif !e.meals.empty? && e.meals.length >= 2 %>
              <div class="meal">
                <% e.meals.each do |m| %>
                  <%= m.name.upcase %>,
                <% end %>
              </div>
            <% elsif e.meals.empty? %>
              <% if !e.foods.empty? && e.foods.length >= 2 %>
                <div class="food food-ing-list">
                  <%= e.foods[0].name %>, <%= e.foods[1].name %>...
                </div>
              <% elsif !e.foods.empty? && e.foods.length <= 1 %>
              <div class="food food-ing-list">
                <%= e.foods[0].name %>
              </div>
              <% end %>
              <!-- <% if !e.ingredients.empty? %>
                <div class="ingredient food-ing-list">
                  <%= e.ingredients[0].name %>...
                </div>
              <% end %>
              <% if !e.foods.empty? %>
                <div class="food food-ing-list">
                  <%= e.foods[0].name %>...
                </div>
              <% end %> -->
            <% end %>
            NOTES: <%= e.notes %>
            <br />
        </td>
      </tr>
    <% end %>
  </table>
</div>
