<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="entry-update-success">
      </div>
      <br />
      <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title"><strong>Edit food entry:</strong></h1></div>
        <div class="panel-body">
          <form id="food-entry-form">
            <div class="form-group">
              <label>Category:</label>
              <select id="category-select" class="form-control">
                <% if @entry.category == "Breakfast" %>
                  <option value="Breakfast" selected>Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Snack">Snack</option>
                <% elsif @entry.category == "Lunch" %>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch" selected>Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Snack">Snack</option>
                <% elsif @entry.category == "Dinner" %>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner" selected>Dinner</option>
                  <option value="Snack">Snack</option>
                <% elsif @entry.category == "Snack" %>
                  <option value="Breakfast">Breakfast</option>
                  <option value="Lunch">Lunch</option>
                  <option value="Dinner">Dinner</option>
                  <option value="Snack" selected>Snack</option>
                <% end %>
              </select>
            </div>
            <div class="form-group">
              <label>Notes:</label>
              <input type="text" id="notes" class="form-control" value="<%= @entry.notes %>">
            </div>
            <div class="form-group">
              <label>Time eaten:</label>
              <input type="time" id="time" class="form-control" required value="<%= @time %>">
              <input type="hidden" id="user-id" value="<%= @user_id %>"></input>
              <input type="hidden" id="day-id" value="<%= @day_id %>"></input>
              <input type="hidden" id="entry-id" value="<%= @entry.id %>"></input>
            </div>
          </form>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading"><h1 class="panel-title"><strong>In this entry:</strong></h1></div>
        <div class="panel-body">
          <div id="print-new-entry">
            <!-- JS will fill this in -->
            <h4>Meals:</h4>
            <table class="table" id="table-meals">
              <% if !@meals.empty? %>
                <% @meals.each do |m| %>
                  <tr id="m<%=m.id%>">
                    <td>
                      <%= m.name %>
                    </td>
                    <td>
                      <button type="button" class="close close-meal" id="m<%=m.id%>" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <h4>Foods:</h4>
            <table class="table" id="table-foods">
              <% if !@foods.empty? %>
                <% @foods.each do |f| %>
                  <tr id="f<%=f.id%>">
                    <td>
                      <%= f.name %>
                    </td>
                    <td>
                      <button type="button" class="close close-food" id="f<%=f.id%>" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
            <h4>Ingredients:</h4>
            <table class="table" id="table-ingredients">
              <% if !@ingredients.empty? %>
                <% @ingredients.each do |i| %>
                  <tr id="i<%=i.id%>">
                    <td>
                      <%= i.name %>
                    </td>
                    <td>
                      <button type="button" class="close close-ingredient" id="i<%=i.id%>" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </td>
                  </tr>
                <% end %>
              <% end %>
            </table>
          </div>
          <form>
            <div class="form-group form-inline">
              <label>Add existing meals, foods or ingredients:</label>
              <div class="hidden-xs inline-form-padding"></div>
              <select id="food-type-select" class="form-control">
                <option value="Foods" selected="selected">Foods</option>
                <option value="Ingredients" selected="selected">Ingredients</option>
                <option value="Meals" selected="selected">Meals</option>
              </select>
              <div class="hidden-xs inline-form-padding"></div>
              <select id="dynamic-food-list-day-page" class="form-control xs-margin-top">
                <% @all_meals.each do |m| %>
                  <option value="<%= m.name %>" selected="selected" id="<%= m.id %>"><%= m.name %></option>
                <% end %>
              </select>
              <div class="hidden-xs inline-form-padding"></div>
              <button id="add-from-db" class="btn btn-primary xs-margin-top">Add to entry</button>
            </div>
          </form>
          <div id="autocomplete-wrapper" class="form-group form-inline">
            <label for="autocomplete">Search for foods by</label>
            <div class="hidden-xs inline-form-padding"></div>
            <select id="search-type-select" class="form-control">
              <option value="Barcode" selected="selected">Barcode</option>
              <option value="Name" selected="selected">Name</option>
            </select>
            <div class="hidden-xs inline-form-padding"></div>
            <input id="autocomplete" class="form-control xs-margin-top">
            <input type="hidden" id="factual-id">
            <div class="hidden-xs inline-form-padding"></div>
            <button id="add-from-search" class="btn btn-primary xs-margin-top">Add to entry</button>
          </div>
          <div class="form-group">
            <input type="checkbox" id="save-meal-checkbox" name="save-meal" value="false">&nbsp;&nbsp;&nbsp;Save this entry as a meal
          </div>
          <div id="save-meal-name" class="form-group hidden-field">
            <label>Meal Name:</label>
            <input type="text" id="meal-name" class="form-control">
          </div>
        </div>
      </div>
      <button id="update-food-entry" class="btn btn-success bottom-button-margin xs-centered-button">Save food entry</button>
    </div>
  </div>
</div>
