<%= form_for @user, class: "form", method: :patch do |f| %>
  <input type="hidden" id="user-id" value="<%= @user.id %>"></input>
  <%= f.label "Name:" %>
  <%= f.text_field :name, class: "form-control" %>
  <%= f.label "Email address:" %>
  <%= f.email_field :email, class: "form-control" %>
  <%= f.label "Phone number:" %>
  <%= f.text_field :phone, class: "form-control" %>
  <%= f.label "Image:" %>
  <%= f.text_field :image, class: "form-control" %>
  <%= f.label "Known intolerances:" %>
  <div id="food-intolerances">
    <% @user.known_intolerances.each do |i| %>
      <p class="food-intolerance"><%= i %></p>
    <% end %>
  </div>
  <%= f.label "Add food intolerances:" %>
  <input type="text" class="form-control" id="new-food-intolerance">
  <button id="add-food-intolerance">Add food intolerance</button>
  <br />
  <%= f.label "Foods you'd like to watch:" %>
  <div id="food-watches">
    <% @user.watching.each do |w| %>
      <p class="food-watch"><%= w %></p>
    <% end %>
  </div>
  <input type="text" class="form-control" id="new-food-watch">
  <button id="add-watch-food">Add food to watch</button>
  <br />
  <%= f.label "Saved medical disorders:" %>
  <div id="medical-disorders">
    <% @user.medical_disorders.each do |m| %>
      <p class="medical"><%= m %></p>
    <% end %>
  </div>
  <input type="text" class="form-control" id="new-medical-disorder">
  <button id="add-medical-disorder">Add medical disorder</button>
  <br />
  <%= f.label "Email notification preference:" %>
  <%= f.text_field :notifications_preference, class: "form-control" %>
  <br>
  <%= f.submit class: "submit btn btn-danger" %>
  <br>
  <br>
<% end %>
