<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= form_for @user, class: "form", method: :patch do |f| %>
        <input type="hidden" id="user-id" value="<%= @user.id %>"></input>
        <div class="form-group">
          <%= f.label "Name:" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Email address:" %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Phone number:" %>
          <%= f.text_field :phone, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Image:" %>
          <%= f.text_field :image, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Email notification preference:" %>
          <%= f.text_field :notifications_preference, class: "form-control" %>
        </div>
        <%= f.submit class: "submit btn btn-success bottom-button-margin" %>
      <% end %>
    </div>
  </div>
</div>
