<html class="login-bg">
<head>
  <title>Capstone</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Lato:400,300italic,400italic,300|Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body class="login-bg">
  <div class="container" id="html-bg">
    <div class="row">
      <div class="col-md-12 text-right about-login">
        <%= link_to "About", about_path, class: "login-about" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 login-modal">
        <div class="hidden-lg login-modal-spacing"></div>
        <h1 class="brand text-center">FoodFeels</h1>
        <h1 id="login-h1">How is your food making you feel?</h1>
        <div class="text-center login-button-margin">
          <%= link_to "Log in with Github", "/auth/github", class: "btn btn-danger btn-lg login-button" %>
        </div>
        <div class="hidden-lg login-modal-spacing"></div>
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
</body>
</html>
