<h1><%= @day.day.strftime("%m/%d/%Y") %></h1>
<p>
  Eaten today:
</p>
<div id="existing-entries">
  <% @entries.each do |e| %>
    <div class="entry" id="<%= e.time.strftime("%l:%M %p") %>">
      <%= e.category %>
      <br />
      <%= e.time.strftime("%l:%M %p") %>
      <br />
      <%= e.notes %>
      <br />
      <%= link_to "Remove entry", entry_path(e), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "Edit entry", entry_path(e), method: :patch, class: "edit-entry" %>
        <% e.meals.each do |m| %>
          <div class="meal">
            <%= m.name %>
          </div>
        <% end %>
        <br />
        <% e.foods.each do |f| %>
          <div class="food">
            <%= f.name %>
          </div>
        <% end %>
        <br />
        <% e.ingredients.each do |i| %>
          <div class="ingredient">
            <%= i.name %>
          </div>
        <% end %>
      <br />
    </div>
  <% end %>
  <br />
</div>
<div id="added-entries">
</div>
<form>
  <select id="category-select">
    <option value="Breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>
  <label>Notes:</label>
  <input type="text" id="notes">
  <input type="time" id="time">
  <input type="hidden" id="user-id" value="<%= @user_id %>"></input>
  <input type="hidden" id="day-id" value="<%= @day_id %>"></input>
</form>
<br />
<p>
  Add existing foods to your entry:
</p>
<form>
  <select id="food-type-select">
    <option value="Foods" selected="selected">Foods</option>
    <option value="Ingredients" selected="selected">Ingredients</option>
    <option value="Meals" selected="selected">Meals</option>
  </select>
  <select id="dynamic-food-list">
    <% @all_meals.each do |m| %>
      <option value="<%= m.name %>" selected="selected" id="<%= m.id %>"><%= m.name %></option>
    <% end %>
  </select>
  <button id="add-new-entry">Add food to entry</button>
</form>
<br />
<p>
  Or search:
</p>
<div id="autocomplete-wrapper">
  <label for="autocomplete">Search for foods: </label>
  <input id="autocomplete">
  <button id="add-from-search">Add food</button>
</div>
<p>
  In this entry:
</p>
<div id="print-new-entry">
 <!-- JS will fill this in -->
</div>

<button id="create-food-entry">Submit food entry</button>
