<h1><%= @day.day %></h1>
<p>
  Eaten today:
</p>
<% @entries.each do |e| %>
  <%= e.category %>
  <br />
  <%= e.time %>
  <br />
  <%= e.notes %>
  <br />
    <% e.meals.each do |m| %>
      <%= m.name %>
    <% end %>
    <br />
    <% e.foods.each do |f| %>
      <%= f.name %>
    <% end %>
    <br />
    <% e.ingredients.each do |i| %>
      <%= i.name %>
    <% end %>
    <br />
<% end %>
<br />
<form>
  <select id="category-select">
    <option value="Breakfast">Breakfast</option>
    <option value="Lunch">Lunch</option>
    <option value="Dinner">Dinner</option>
    <option value="Snack">Snack</option>
  </select>
  <label>Notes:</label>
  <input type="text" id="notes">
  <input type="time" id="time">
  <input type="hidden" id="user-id" value="<%= @user_id %>"></input>
  <input type="hidden" id="day-id" value="<%= @day_id %>"></input>
</form>
<br />
Add existing foods to your entry:
<form>
  <select id="food-type-select">
    <option value="Foods" selected="selected">Foods</option>
    <option value="Ingredients" selected="selected">Ingredients</option>
    <option value="Meals" selected="selected">Meals</option>
  </select>
  <select id="dynamic-food-list">
    <% @all_meals.each do |m| %>
      <option value="<%= m.name %>" selected="selected" id="<%= m.id %>"><%= m.name %></option>
    <% end %>
  </select>
  <button id="add-new-entry">Add food to entry</button>
</form>

<p>
  In this entry:
</p>
<div id="print-new-entry">
 <!-- JS will fill this in -->
</div>

<button id="create-food-entry">Submit food entry</button>
