<h1><%= @day.day %></h1>
<% @entries.each do |e| %>
  <%= e.category %>
  <br />
  <%= e.time %>
  <br />
  <%= e.notes %>
  <br />
    <% e.meals.each do |m| %>
      <%= m.name %>
    <% end %>
    <br />
<% end %>

<%= form_for @entry, :html => {:class => "form-inline"} do |f| %>
    <select>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Snack">Snack</option>
    </select>
    <select>
      <option value="Meals">Meals</option>
      <option value="Foods">Foods</option>
      <option value="Ingredients">Ingredients</option>
    </select>
    <select>
      <option value="dynamic objects here">Dynamic objects here</option>
    </select>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <%= f.submit value: "Add food entry", class: "new_button"%>
<% end %>
