<h1><%= @day.day.strftime("%m/%d/%Y") %></h1>
<%= link_to "#{@day.day.yesterday.strftime("%m/%d/%Y")}", day_path(@day.id - 1), method: :get, class: "btn" %>
<%= link_to "#{@day.day.tomorrow.strftime("%m/%d/%Y")}", day_path(@day.id + 1), method: :get, class: "btn" %>
<h3>
  Today's Food Entries:
</h3>
<div id="existing-entries">
  <% @entries.each do |e| %>
    <div class="entry" id="<%= e.time.strftime("%l:%M %p") %>">
      <%= e.category %>
      <br />
      <%= e.time.strftime("%l:%M %p") %>
      <br />
      <%= e.notes %>
      <br />
      <%= link_to "Remove entry", entry_path(e), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        <%= link_to "Edit entry", entry_path(e), method: :patch, class: "edit-entry" %>
        <% e.meals.each do |m| %>
          <div class="meal">
            <%= m.name %>
          </div>
        <% end %>
        <br />
        <% e.foods.each do |f| %>
          <div class="food">
            <%= f.name %>
          </div>
        <% end %>
        <br />
        <% e.ingredients.each do |i| %>
          <div class="ingredient">
            <%= i.name %>
          </div>
        <% end %>
      <br />
    </div>
  <% end %>
  <br />
</div>
<div id="added-entries">
</div>
<h3>Today's Symptoms:</h3>
<div id="existing-symptoms">
  <% @symptoms.each do |s| %>
  <p>
    <%= s.name %>
  </p>
  <% end %>
<div id="added-symptoms">
</div>
</div>
<%= render 'entries/add' %>
<p>
  In this entry:
</p>
<div id="print-new-entry">
 <!-- JS will fill this in -->
</div>
<button id="create-food-entry">Add food entry</button>
<br />
<%= render 'symptoms/add' %>
