<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <%= link_to "<", day_path(@day.id - 1), method: :get, class: "btn btn-default calendar-day" %>
      <h1 class="day-show-header"><%= @day.day.strftime("%A, %b %d") %></h1>
      <%= link_to ">", day_path(@day.id + 1), method: :get, class: "btn btn-default calendar-day" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>
        Today's Food Entries:
      </h3>
    </div>
  </div>
  <%= render 'entries/all' %>
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="added-entries">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Today's Symptoms:</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div id="existing-symptoms">
        <% @symptoms.each do |s| %>
        <div class="symptom">
          <div class="food-entry-header"><%= s.name %> - <%= s.start_time.strftime("%l:%M %p") %><% if !s.end_time.nil? %>
             - <%= s.end_time.strftime("%l:%M %p") %>
            <% end %></div>
          Severity: <%= s.severity %>
          <br />
          Notes: <%= s.notes %>
          <br />
          <%= link_to "Edit", symptom_path(s), method: :patch, class: "btn btn-success edit-entry" %>
          <%= link_to "Delete", symptom_path(s), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
        <% end %>
      </div>
      <div id="added-symptoms">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'entries/add' %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h3>In this entry:</h3>
      <div id="print-new-entry">
       <!-- JS will fill this in -->
      </div>
      <button id="create-food-entry" class="btn btn-success">Add food entry</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <%= render 'symptoms/add' %>
    </div>
  </div>
</div>
