<div class="container">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6 text-center">
      <%= link_to "<", day_path(@day.id - 1), method: :get, class: "btn btn-default hidden-xs" %>
      <h1 class="day-show-header"><%= @day.day.strftime("%A, %b %d") %></h1>
      <%= link_to ">", day_path(@day.id + 1), method: :get, class: "btn btn-default hidden-xs" %>
    </div>
    <div class="col-md-3 text-center">
      <%= link_to "<", day_path(@day.id - 1), method: :get, class: "btn btn-default visible-xs-inline-block" %>
      <%= link_to ">", day_path(@day.id + 1), method: :get, class: "btn btn-default visible-xs-inline-block" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-4">
      <h2 class="text-center">
        Today's Food Entries:
      </h2>
      <%= render 'entries/all' %>
      <div id="added-entries">
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <h2 class="text-center">Today's Symptoms:</h2>
      <%= render 'symptoms/all' %>
      <div id="added-symptoms">
      </div>
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <%= render 'entries/add' %>
  <%= render 'symptoms/add' %>
</div>
