<h1><%= @day.day %></h1>
<% @entries.each do |e| %>
  <%= e.category %>
  <br />
  <%= e.time %>
  <br />
  <%= e.notes %>
  <br />
    <% e.meals.each do |m| %>
      <%= m.name %>
    <% end %>
    <br />
<% end %>

<%= form_for @entry, :html => {:class => "form-inline"} do |f| %>
    <select>
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Dinner">Dinner</option>
      <option value="Snack">Snack</option>
    </select>
    <select id="food-type-select">
      <option value="Foods" selected="selected">Foods</option>
      <option value="Ingredients" selected="selected">Ingredients</option>
      <option value="Meals" selected="selected">Meals</option>
    </select>
    <select id="dynamic-food-list">
      <% @select_arr.each do |item| %>
        <%= item.html_safe %>
      <% end %>
    </select>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <%= f.submit value: "Add food entry", class: "new_button"%>
<% end %>
