<h1><%= @day.day %></h1>
<% @entries.each do |e| %>
  <%= e.category %>
  <br />
  <%= e.time %>
  <br />
  <%= e.notes %>
  <br />
    <% e.meals.each do |m| %>
      <%= m.name %>
    <% end %>
    <br />
<% end %>

<%= form_for @entry, :html => {:class => "form-inline"} do |f| %>
  <fieldset>
    <%= f.label :category %>
    <%= f.text_field :category %>
    <%= f.label :notes %>
    <%= f.text_field :notes %>
    <%= f.submit value: "Add food entry", class: "new_button"%>
  </fieldset>
<% end %>
