<!DOCTYPE html>
<html>
<head>
  <title>Capstone</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Lato:400,300italic,400italic,300|Archivo+Narrow:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', params[:controller] %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !session[:user_id].nil? %>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navbar-brand" href="http://foodfeels.org">FoodFeels</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Today's Diary", day_path(@current_day.id), id: "navbar-today" %></li>
            <li><%= link_to "Symptom Analysis", user_stats_path(@current_user.id), method: :get, id: "navbar-symptoms" %></li>
            <li><%= link_to "View Profile", user_path(@current_user.id), id: "navbar-profile" %></li>
            <li><%= link_to "About", about_path, id: "navbar-about" %></li>
            <li><%= link_to "Logout", logout_path, method: :delete, id: "navbar-login" %></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <% end %>

    <%= yield %>


</body>
</html>
